= link_to 'New Sub-category', new_category_subcategory_path, {class: "btn btn-fakturo btn-fakturo-action float-end"}

%h1 Sub-categories
%p
  Category:
  = @category.name

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th # of expenses
      %th

  %tbody
    - @subcategories.each do |subcategory|
      %tr
        %td= subcategory.name
        %td= subcategory.description
        %td= "#{subcategory.expenses.valid.count}/#{subcategory.expenses.count}"
        %td
          %a{ :href => "#{category_subcategory_path(subcategory.category, subcategory)}", "data-bs-toggle" => "tooltip", "data-bs-placement" => "left", "data-bs-title" => "Show details" }
            %svg.bi.pe-none.me-2{ :width => "16", :height => "16", "aria-hidden" => "true" }
              %use{ "xlink:href" => "#three-dots" }
       