%h1
  Sub-category details

.container.w-50
  %table.table
    %thead
      %tr
        %th Info
        %th Value
    %tbody
      %tr
        %td Name
        %td= @subcategory.name
      %tr
        %td Description
        %td= @subcategory.description
      %tr
        %td # of expenses
        %td= "#{@subcategory.expenses.valid.count}/#{@subcategory.expenses.count}"
      %tr
        %td{colspan: "2"}
          = link_to 'Edit this sub-category', edit_category_subcategory_path(@subcategory.category, @subcategory), class: "btn btn-light form-control"
      %tr
        %td{colspan: "2"}
          %button.btn.btn-danger.form-control{:type => "button", "data-bs-toggle" => "modal", "data-bs-target" => "#deleteModal"}
            Delete this sub-category
  
= render partial: "layouts/delete_modal", locals: {element: "sub-category", link: category_subcategory_path(@subcategory.category, @subcategory)}

- if @subcategory.expenses.count > 0
  %hr
  = render partial: "expenses/table", locals: {expenses: @subcategory.expenses, show: %i[ statement source ]}
