= form_for @statement do |f|
  - if @statement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@statement.errors.count, "error")} prohibited this statement from being saved:"
      %ul
        - @statement.errors.full_messages.each do |message|
          %li= message

  .field.mb-3
    = f.label :source_id, {class: "form-label"}
    = f.select :source_id, @sources.map { |s| [s.name, s.id] }, { prompt: "Select a source" }, { class: "form-control" }

  .field.mb-3
    = f.label :date, {class: "form-label"}
    = f.date_field :date, class: "form-control"

  .actions.mb-3
    = f.submit 'Save', class: "form-control btn btn-fakturo btn-fakturo-action"
