%h1
  Statement details

.container.w-50
  %table.table
    %thead
      %tr
        %th Info
        %th Value
    %tbody
      %tr
        %td Year
        %td= @statement.year
      %tr
        %td Month
        %td= "%02d" % @statement.month
      %tr
        %td Source
        %td= @statement.source.name
      %tr
        %td # of expenses
        %td= @statement.expenses.count
      %tr
        %td $ total
        %td 
          $ 
          = @statement.value
      %tr
        %td Uploaded
        %td= @statement.is_upload ? 'Yes' : 'No'
        - if @statement.is_upload
          %tr
            %td Processing status
            %td
              - if @statement.statement_processing.has_succeeded.nil?
                File is processing, please wait.
              - elsif @statement.statement_processing.has_succeeded
                File was processed successfully and deleted.
              - else
                File processing failed. Click 
                = link_to "here", statement_processing_path(@statement.statement_processing), data: {turbo_method: :patch}
                to retry.
      %tr
        %td{colspan: "2"}
          = link_to 'Edit this statement', edit_statement_path(@statement), class: "btn btn-light form-control"
      %tr
        %td{colspan: "2"}
          %button.btn.btn-danger.form-control{:type => "button", "data-bs-toggle" => "modal", "data-bs-target" => "#deleteModal"}
            Delete this statement
  
= render partial: "layouts/delete_modal", locals: {element: "statement", link: @statement}

- if @statement.expenses.count > 0
  %hr
  = render partial: "expenses/table", locals: {expenses: @paginated_expenses, show: %i[ source category subcategory ]}