= link_to "Upload new statement", "#", {class: "btn btn-light float-end"}
%h1 My panel
%p Use the options below to manage your data

.row.row-cols-1.row-cols-md-2.g-4
  
  .col.d-flex.align-items-stretch
    .card
      .card-body.d-flex.flex-column
        %h5.card-title Categories
        %p.card-text 
          Each expense belongs to a category and a subcategory. 
          %br
          %br
          For instance, expenses for a car can belong to the category "transportation" and one of the following subcategories: "fuel", "maintenance" or "repair". 
        = link_to "Manage categories", categories_path, {class: "btn btn-fakturo align-self-stretch mt-auto"}

  .col.d-flex.align-items-stretch
    .card
      .card-body.d-flex.flex-column
        %h5.card-title Sources
        %p.card-text 
          Sources of expenses, like checking accounts and credit cards. 
          %br
          %br
          They can be registered as "Bank X" and "Credit card Y" and will be linked to the expenses. 
          %br
          %br
          Sources emit statements.
        = link_to "Manage sources", sources_path, {class: "btn btn-fakturo align-self-stretch mt-auto"}
  
  .col.d-flex.align-items-stretch
    .card
      .card-body.d-flex.flex-column
        %h5.card-title Statements
        %p.card-text 
          Statements are collections of expenses. 
          %br
          %br
          They belong to an institution (source) and are produced in a regular interval, usually monthly. Think of "Checking account statement for the month of april from Bank X".
          %br
          %br
          When you upload a statement, the expenses it contains will be automatically extracted and registered in the system.
        = link_to "Manage statements", statements_path, {class: "btn btn-fakturo align-self-stretch mt-auto"}
        

  .col.d-flex.align-items-stretch
    .card
      .card-body.d-flex.flex-column
        %h5.card-title Expenses
        %p.card-text
          Each line in a checking account statement or credit card statement is an expense. 
          %br
          %br
          Here you can manage extracted expenses from statements or create them manually.
        = link_to "Manage expenses", expenses_path, {class: "btn btn-fakturo align-self-stretch mt-auto"}
