.container.w-50
  .w-100.text-center
    %h2 Change password
    = image_tag("logo.png", alt: "Fakturo", width: "60", height: "60")

  = form_for(User, as: current_user, url: registration_path(current_user), html: { method: :put }) do |f| 
    = render "devise/shared/error_messages", resource: current_user
    
    .field.mb-3
      = f.label :password, {class: "form-label"}
      %i (New password)
      = f.password_field :password, autocomplete: "new-password", class: "form-control"
      - if @minimum_password_length
        %em
          (
          = @minimum_password_length 
          characters minimum)

    .field.mb-3
      = f.label :password_confirmation, {class: "form-label"}
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
    

    .field.mb-3
      = f.label :current_password, {class: "form-label"}
      = f.password_field :current_password, autocomplete: "current-password", class: "form-control"
    

    .actions.mb-3
      = f.submit "Save", class: "form-control btn btn-fakturo btn-fakturo-action"
