.container.w-50
  .w-100.text-center
    %h2 Log in
    = image_tag("logo.png", alt: "Fakturo", width: "60", height: "60")
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field.mb-3
      = f.label :username, {class: "form-label"}
      = f.text_field :username, autofocus: true, autocomplete: "email", class: "form-control"
    
    .field.mb-3
      = f.label :password, {class: "form-label"}
      = f.password_field :password, autocomplete: "current-password", class: "form-control"
    
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me, class: "form-check-input"
        = f.label :remember_me, {class: "form-label"}

    .actions.mb-3
      = f.submit "Log in", class: "form-control btn btn-fakturo btn-fakturo-action"

  = render "devise/shared/links"
