%h1 Category by statement

%p Select the statement

= form_with url: statement_dashboards_path, method: :get do |form|
  .field.mb-3
    = form.select :statement_id, @statements.map { |s| ["#{s.source.name} (#{s.year}-#{'%02d' % s.month})", s.id] }, {selected: params[:statement_id], prompt: "Select a statement" },{ class: "form-control" }
  
  .actions.mb-3
    = form.submit "Update chart", class: "form-control btn btn-fakturo btn-fakturo-action"

#chart.container.w-100.h-100

= render "import_echarts"

= render partial: "chart", locals: {option: @option}
