= link_to 'New Category', new_category_path, {class: "btn btn-fakturo btn-fakturo-action float-end"}

%h1 Categories

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th # of sub-categories
      %th # of expenses
      %th
  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.description
        %td= category.subcategories.count
        %td= "#{category.expenses.valid.count}/#{category.expenses.count}"
        %td
          %a{ :href => "#{category_page_path(category.id)}", "data-bs-toggle" => "tooltip", "data-bs-placement" => "left", "data-bs-title" => "Show details" }
            %svg.bi.pe-none.me-2{ :width => "16", :height => "16", "aria-hidden" => "true" }
              %use{ "xlink:href" => "#three-dots" }
