%div{"data-controller" => "expenses--table"}
  .digg_pagination.d-flex.justify-content-center.mb-3
    = will_paginate expenses, :container => false
  - if show.include? :checkbox
    %button.btn.btn-primary{"data-bs-toggle" => "modal", "data-bs-target" => "#transferExpensesModal", "data-action" => "expenses--table#getSelectedSubcategories"}
      Transfer
  %table.table.table-sm.table-striped
    %thead
      %tr
        - if show.include? :checkbox
          %th
            %input.form-check-input{ :type => :checkbox, "data-expenses--table-target" => "control", "data-action" => "expenses--table#changeAll" }
        %th Date
        %th Description
        %th Value
        - if show.include? :statement
          %th Statement date
        - if show.include? :source
          %th Source
        - if show.include? :category
          %th Category
        - if show.include? :subcategory
          %th Sub-category
        %th
    %tbody
      - expenses.each do |expense|
        %tr
          - if show.include? :checkbox
            %td
              %input.form-check-input{ :type => :checkbox, "data-expenses--table-target" => "expense", "data-id" => "#{expense.id}"}
          %td= expense.date.strftime("%Y-%m-%d")
          %td
            = expense.description
            - if expense.comment && expense.comment != ""
              %a{"data-bs-toggle" => "tooltip", "data-bs-title" => "#{expense.comment}"}
                %svg.bi.pe-none.me-2{ :width => "16", :height => "16", "aria-hidden" => "true" }
                  %use{ "xlink:href" => "#info" }
          %td{ :class => "#{p 'text-decoration-line-through fw-lighter' if expense.ignore}" }
            = format("%.2f", expense.value)
          
          - if show.include? :statement
            %td= "#{expense.statement.year}-#{"%02d" % expense.statement.month}"
          
          - if show.include? :source
            %td
              %a{"data-bs-toggle" => "tooltip", "data-bs-title" => "#{expense.statement.source.name}"}
                %svg.bi.pe-none.me-2{ :width => "16", :height => "16", "aria-hidden" => "true" }
                  %use{ "xlink:href" => "#info" }

          - if show.include? :category
            %td= expense.category.name

          - if show.include? :subcategory
            %td= expense.subcategory.name
          
          %td
            %button.btn.btn-sm{ :type => "button", "data-bs-toggle" => "modal", "data-bs-target" => "#editExpenseModal", "data-action" => "expenses--table#renderForm", "data-expenses--table-id-param" => "#{expense.id}" }
              %a{"data-bs-toggle" => "tooltip", "data-bs-title" => "Edit"}
                %svg.bi.pe-none.me-2{ :width => "16", :height => "16", "aria-hidden" => "true" }
                  %use{ "xlink:href" => "#edit" }

  .digg_pagination.d-flex.justify-content-center.mb-3
    = will_paginate expenses, :container => false
    
  .modal.fade#editExpenseModal{ :tabindex => "-1", "aria-labelledby" => "editExpenseModalLabel", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          Edit expense
          %button.btn-close{ :type => "button", "data-bs-dismiss" => "modal", "aria-label" => "Close" }
        .modal-body#formPlaceholder{"data-expenses--table-target" => "placeholder"}
  - if show.include? :checkbox
    .modal.fade#transferExpensesModal{ :tabindex => "-1", "aria-labelledby" => "transferExpensesModalLabel", "aria-hidden" => "true"}
      .modal-dialog
        .modal-content
          .modal-header
            Transfer expenses
            %button.btn-close{ :type => "button", "data-bs-dismiss" => "modal", "aria-label" => "Close" }
          = form_with url: {controller: :subcategories, action: :transfer} do |f|
            .modal-body
              .alert.alert-info
                Text here
              = f.hidden_field :categories, "data-expenses--table-target" => "categories" ,value: "#{raw @categories.to_json(include: :subcategories)}"
              = f.hidden_field :subcategories, {:id => "selected", :name => "selected"}
              .field.mb-3
                = f.label :category_id, {class: "form-label"}
                = f.select :category_id, @categories.map { |c| [c.name, c.id] }, { prompt: "Select a category" }, {"data-action" => "expenses--table#selectSubcategories", "data-expenses--table-target" => "category", class: "form-control" }
              .field.mb-3
                = f.label :subcategory_id, {class: "form-label"}
                = f.select :subcategory_id, [], { prompt: "Select a category" }, {"data-expenses--table-target" => "subcategory", class: "form-control" }    
            .modal-footer
              .actions.mb-3
                = f.submit 'Save', class: "form-control btn btn-fakturo btn-fakturo-action"
