%h1 External access

.container.w-50

  %table.table
    %thead
      %tr
        %th Info
        %th Value
    %tbody
      %tr
        %td Username
        %td= Current.user.username
      %tr
        %td User unique identifier
        %td= Current.user.uuid
      %tr
        %td User access token
        %td= Current.user.access_token
      %tr
        %td User access token expiration date
        %td= Current.user.access_token_expiry_date
      %tr
        %td External access status
        %td{:class => "#{Current.user.access_token_enabled ? 'bg-success-subtle' : 'bg-danger-subtle'}"}
          = Current.user.access_token_enabled ? 'Enabled' : 'Disabled'
      %tr
        %td{colspan: "2"}
          = link_to 'Regenerate token', api_access_path, class: "btn btn-light form-control", data: {turbo_method: :put}
      %tr
        %td{colspan: "2"}
          = link_to 'Enable/disable external access', toogle_api_access_path, class: "btn btn-light form-control", data: {turbo_method: :put}

- if Current.user.access_token_enabled
  .accordion#accordionExpenses
    .accordion-item
      %h2.accordion-header
        %button.accordion-button.collapsed{:type => "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#collapseOne", "aria-expanded" => "false", "aria-controls" => "collapseOne"}
          Available external access endpoints
      #collapseOne.accordion-collapse.collapse{"data-bs-parent" => "#accordionExpenses"}
        .accordion-body
          %table.table
            %thead
              %tr
                %th Description
                %th Link
            %tbody
              %tr
                %td Total of expenses by category and subcategory
                %td= link_to "Link", api_total_path(uuid: Current.user.uuid, access_token: Current.user.access_token)
              %tr
                %td Monthly expenses by category and subcategory
                %td= link_to "Link", api_monthly_path(uuid: Current.user.uuid, access_token: Current.user.access_token)