!!! 5
%html
  %head
    %title
      = content_for(:title) || "Fakturo"
    %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1" }
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{ :name => "mobile-web-app-capable", :content => "yes"}
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    -# <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    -# <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    -# <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    -# <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    -# <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    -# <link rel="manifest" href="/site.webmanifest">

    %link{ :rel => "icon", :href => "/icon.png", :type => "image/png"}
    
    %link{ :rel => "apple-touch-icon", :href => "/icon.png"}
    %link{ :href => "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css", :rel => "stylesheet", :integrity => "sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB", :crossorigin => "anonymous"}
    %script{
      "src": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js",
      "integrity": "sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI",
      "crossorigin": "anonymous",
    }

    -# <%# Includes all stylesheet files in app/assets/stylesheets %>
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags
  
  %body
    %main.d-flex.flex-nowrap
      = render "layouts/svgs"
      = render "layouts/sidebar"
      .container.pt-5.overflow-auto
        - if notice
          %div.alert.alert-success.alert-dismissible.fade.show{:role => "alert"}
            = notice
            %button.btn-close{ :type => "button", "data-bs-dismiss" => "alert", "aria-label" => "Close"}
        - if alert
          %div.alert.alert-danger.alert-dismissible.fade.show{:role => "alert"}
            = alert
            %button.btn-close{ :type => "button", "data-bs-dismiss" => "alert", "aria-label" => "Close"}

        - if @breadcrumb
          %nav{ style: "--bs-breadcrumb-divider: '>';", "aria-label" => "breadcrumb"}
            %ol.breadcrumb
              
              - @breadcrumb.each do |bc|
                - if bc[:path]
                  %li.breadcrumb-item
                    = link_to bc[:name], bc[:path]
                - else
                  %li.breadcrumb-item.active{"aria-current" => "page"}
                    = bc[:name]
          
        = yield
